*.o
*.obj
*.a
*.so
*.dylib
*.dSYM
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.bbl
*.blg
*.manifest
*~
TAGS
configure
Makefile
autom4te.cache
config.h
config.h.in
config.status
semweb.html
semweb.pdf
rdfcompare.tex
turtle.tex
rdfntriples.tex
rdfportray.tex
rdflib.tex
sparqlclient.tex
semweb.tex
rdfcache.tex
rdfdb.tex
rdfa.tex
rdf11.tex
rdf11containers.tex
doc/*.tex
g1.rec
.gdbinit
Keep
