*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.bbl
*.blg
*.manifest
*~
TAGS
configure
Makefile
autom4te.cache
config.h
config.h.in
config.status
semweb.html
semweb.pdf
rdfcompare.tex
rdfturtle.tex
rdfturtlewrite.tex
rdfportray.tex
rdflib.tex
sparqlclient.tex
semweb.tex
.pl-history
